@keyframes breathe {
	0% {
		transform: rotate(-2deg) translateX(-50%);
	}
	25% {
		transform: rotate(2deg) translateX(-25%)
	}
	50% {
		transform: rotate(-2deg) translateX(0%)
	}
	75% {
		transform: rotate(2deg) translateX(25%)
	}
	100% {
		transform: rotate(-2deg) translateX(50%);
	}
}

.animal-wrapper {
	overflow: hidden;
}

.jungle {
	background: url("../images/jungle.jpg");
	background-attachment: scroll;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	border: 2px solid black;
}

.alive {
	@apply bg-white;
}

.alive img.animal {
	transform-origin: center;
	animation-name: breathe;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.animal-wrapper:nth-child(2n) img.animal {
	animation-delay: -10s
}

.animal-wrapper:nth-child(2n+1) img.animal {
	animation-delay: -30s
}

.animal-wrapper:nth-child(3n) img.animal {
	animation-delay: -20s;
}

.animal-wrapper:nth-child(5n) img.animal {
	animation-delay: -40s
}

.animal-wrapper:nth-child(7n) img.animal {
	animation-delay: -15s
}

.injured {
	@apply bg-red-400;
}

.dead {
	@apply bg-gray-300;
	filter: grayscale(100%) opacity(20%);
}
