.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes breathe {
  0% {
    transform: rotate(-2deg) translateX(-40%);
  }
  25% {
    transform: rotate(2deg) translateX(-25%)
  }
  50% {
    transform: rotate(-2deg) translateX(0%)
  }
  75% {
    transform: rotate(2deg) translateX(25%)
  }
  100% {
    transform: rotate(-2deg) translateX(40%);
  }
}

.alive {
  @apply bg-white;
}

.alive img.animal {
  animation-name: breathe;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.injured {
  @apply bg-red-400;
}

.dead {
  @apply bg-gray-300;
  filter: grayscale(100%);
}
